<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="testsuite for Uri">
            <directory>./tests/Aura/Uri</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Aura/Uri</directory>
        </whitelist>
    </filter>
</phpunit>
