<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>./Aura/Uri</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/Aura/Uri</directory>
            <file>../src/mb-parse-url.php</file>
        </whitelist>
    </filter>
</phpunit>
