<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="testsuite for Uri">
            <directory>./Aura/Uri</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/Aura/Uri</directory>
        </whitelist>
    </filter>
</phpunit>
